@page
@model ListApp.Pages.Lists.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.List.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.List.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.List.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.List.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="List.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
